@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vjr8xo');
  src:  url('fonts/icomoon.eot?vjr8xo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vjr8xo') format('truetype'),
    url('fonts/icomoon.woff?vjr8xo') format('woff'),
    url('fonts/icomoon.svg?vjr8xo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete-2-svgrepo-com-1:before {
  content: "\e9a5";
}
.icon-edit-svgrepo-com:before {
  content: "\e99d";
}
.icon-delete-2-svgrepo-com:before {
  content: "\e99e";
}
.icon-eye-svgrepo-com:before {
  content: "\e99f";
  color: #fff;
}
.icon-stop-svgrepo-com:before {
  content: "\e9a0";
}
.icon-Frame-22:before {
  content: "\e996";
}
.icon-Frame-21:before {
  content: "\e997";
}
.icon-Frame-20:before {
  content: "\e998";
}
.icon-Frame-19:before {
  content: "\e999";
}
.icon-Frame-18:before {
  content: "\e99a";
}
.icon-Frame-17:before {
  content: "\e99b";
}
.icon-Frame-16:before {
  content: "\e99c";
}
.icon-Span .path1:before {
  content: "\e993";
  color: rgb(240, 253, 244);
  opacity: 0.49;
}
.icon-Span .path2:before {
  content: "\e994";
  margin-left: -2.4345703125em;
  color: none;
}
.icon-Span .path3:before {
  content: "\e995";
  margin-left: -2.4345703125em;
  color: rgb(21, 128, 61);
}
.icon-jobs:before {
  content: "\e968";
  color: #fff;
}
.icon-company-2:before {
  content: "\e969";
  color: #fff;
}
.icon-play:before {
  content: "\e928";
}
.icon-up-chevron_svgrepocom:before {
  content: "\e964";
  color: #dd5c16;
}
.icon-location:before {
  content: "\e94e";
  color: #dd5c16;
}
.icon-stopwatch-watch-deadline-svgrepo-com:before {
  content: "\e94f";
  color: #ff7900;
}
.icon-sector2:before {
  content: "\e950";
  color: #dd5c16;
}
.icon-deadline1:before {
  content: "\e95f";
}
.icon-posting1:before {
  content: "\e952";
  color: #dd5c16;
}
.icon-logout-svgrepo-com1:before {
  content: "\e953";
}
.icon-settings1:before {
  content: "\e954";
}
.icon-Vector-23:before {
  content: "\e955";
}
.icon-Vector-221:before {
  content: "\e956";
}
.icon-Vector-211:before {
  content: "\e957";
}
.icon-log-out1:before {
  content: "\e960";
}
.icon-deadline:before {
  content: "\e95e";
}
.icon-sector3:before {
  content: "\e959";
  color: #dd5c16;
}
.icon-location1:before {
  content: "\e95a";
  color: #dd5c16;
}
.icon-sector1:before {
  content: "\e94c";
  color: #dd5c16;
}
.icon-paper-svgrepo-com:before {
  content: "\e990";
  color: #f97316;
}
.icon-suitcase-svgrepo-com:before {
  content: "\e991";
  color: #f97316;
}
.icon-person-2-fill-svgrepo-com:before {
  content: "\e992";
  color: #f97316;
}
.icon-three-circles-svgrepo-com:before {
  content: "\e98f";
  color: #f97316;
}
.icon-edit-profile-svgrepo-com:before {
  content: "\e98e";
}
.icon-save-svgrepo-com:before {
  content: "\e902";
  color: #080341;
}
.icon-play-button-svgrepo-com:before {
  content: "\e93b";
  color: #fff;
}
.icon-chevron-down-svgrepo-com:before {
  content: "\e965";
  color: #fff;
}
.icon-arrow-right-svgrepo-com:before {
  content: "\e925";
}
.icon-logout-svgrepo-com:before {
  content: "\e94a";
}
.icon-settings:before {
  content: "\e945";
}
.icon-Frame-4:before {
  content: "\e93d";
}
.icon-Frame-3:before {
  content: "\e93e";
}
.icon-Frame-2:before {
  content: "\e958";
}
.icon-Frame-1:before {
  content: "\e93f";
}
.icon-Vector-20:before {
  content: "\e946";
}
.icon-Vector-19:before {
  content: "\e93c";
}
.icon-Button-2:before {
  content: "\e967";
}
.icon-Button-1:before {
  content: "\e96a";
}
.icon-Button:before {
  content: "\e96b";
}
.icon-Frame-15:before {
  content: "\e96c";
}
.icon-Frame-14:before {
  content: "\e96d";
}
.icon-Frame-13:before {
  content: "\e96e";
}
.icon-Frame-12:before {
  content: "\e96f";
}
.icon-Frame-11:before {
  content: "\e970";
}
.icon-Frame-10:before {
  content: "\e971";
}
.icon-Container-7 .path1:before {
  content: "\e972";
  color: rgb(240, 253, 244);
}
.icon-Container-7 .path2:before {
  content: "\e973";
  margin-left: -2.2421875em;
  color: rgb(21, 128, 61);
}
.icon-Container-7 .path3:before {
  content: "\e974";
  margin-left: -2.2421875em;
  color: rgb(21, 128, 61);
}
.icon-Container-7 .path4:before {
  content: "\e975";
  margin-left: -2.2421875em;
  color: none;
}
.icon-Container-7 .path5:before {
  content: "\e976";
  margin-left: -2.2421875em;
  color: none;
}
.icon-Container-6 .path1:before {
  content: "\e977";
  color: rgb(255, 237, 237);
}
.icon-Container-6 .path2:before {
  content: "\e978";
  margin-left: -1.9697265625em;
  color: rgb(199, 0, 0);
}
.icon-Container-6 .path3:before {
  content: "\e979";
  margin-left: -1.9697265625em;
  color: rgb(199, 0, 0);
}
.icon-Container-6 .path4:before {
  content: "\e97a";
  margin-left: -1.9697265625em;
  color: none;
}
.icon-Container-6 .path5:before {
  content: "\e97b";
  margin-left: -1.9697265625em;
  color: none;
}
.icon-Container-5 .path1:before {
  content: "\e97c";
  color: rgb(240, 253, 244);
}
.icon-Container-5 .path2:before {
  content: "\e97d";
  margin-left: -2.2421875em;
  color: rgb(21, 128, 61);
}
.icon-Container-5 .path3:before {
  content: "\e97e";
  margin-left: -2.2421875em;
  color: rgb(21, 128, 61);
}
.icon-Container-5 .path4:before {
  content: "\e97f";
  margin-left: -2.2421875em;
  color: none;
}
.icon-Container-5 .path5:before {
  content: "\e980";
  margin-left: -2.2421875em;
  color: none;
}
.icon-Container-4 .path1:before {
  content: "\e981";
  color: rgb(240, 253, 244);
}
.icon-Container-4 .path2:before {
  content: "\e982";
  margin-left: -2.2421875em;
  color: rgb(21, 128, 61);
}
.icon-Container-4 .path3:before {
  content: "\e983";
  margin-left: -2.2421875em;
  color: rgb(21, 128, 61);
}
.icon-Container-4 .path4:before {
  content: "\e984";
  margin-left: -2.2421875em;
  color: none;
}
.icon-Container-4 .path5:before {
  content: "\e985";
  margin-left: -2.2421875em;
  color: none;
}
.icon-Container-3:before {
  content: "\e986";
  color: #fff7ed;
}
.icon-Container-2:before {
  content: "\e987";
  color: #fff7ed;
}
.icon-Container-1:before {
  content: "\e988";
  color: #fff7ed;
}
.icon-Container:before {
  content: "\e989";
  color: #fff7ed;
}
.icon-Frame-9:before {
  content: "\e98a";
}
.icon-Frame-8:before {
  content: "\e98b";
}
.icon-Frame-7:before {
  content: "\e98c";
}
.icon-Vector-22:before {
  content: "\e947";
}
.icon-Vector-21:before {
  content: "\e948";
}
.icon-log-out:before {
  content: "\e949";
}
.icon-Vector-16:before {
  content: "\e951";
  color: #c3c3c3;
}
.icon-Vector-15:before {
  content: "\e938";
}
.icon-Vector-14:before {
  content: "\e939";
}
.icon-Vector-13:before {
  content: "\e940";
  color: #fff;
}
.icon-Vector-12:before {
  content: "\e941";
  color: #fff;
}
.icon-Vector-11:before {
  content: "\e942";
  color: #fff;
}
.icon-Vector-10:before {
  content: "\e943";
  color: #fff;
}
.icon-Vector-18:before {
  content: "\e93a";
  color: #c3c3c3;
}
.icon-Vector-9:before {
  content: "\e935";
  color: #7b7b7b;
}
.icon-Vector-8:before {
  content: "\e936";
  color: #7b7b7b;
}
.icon-true:before {
  content: "\e98d";
}
.icon-posting:before {
  content: "\e94d";
  color: #dd5c16;
}
.icon-Vector-7:before {
  content: "\e94b";
  color: #7b7b7b;
}
.icon-Vector-6:before {
  content: "\e931";
  color: #dd5c16;
}
.icon-Vector-5:before {
  content: "\e932";
  color: #dd5c16;
}
.icon-Vector-4:before {
  content: "\e933";
  color: #dd5c16;
}
.icon-Vector-3:before {
  content: "\e934";
  color: #dd5c16;
}
.icon-delete-2 .path1:before {
  content: "\e92f";
  color: rgb(255, 255, 255);
}
.icon-delete-2 .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(221, 92, 22);
}
.icon-delete-2 .path3:before {
  content: "\e961";
  margin-left: -1em;
  color: none;
}
.icon-delete-1 .path1:before {
  content: "\e95c";
  color: rgb(221, 92, 22);
}
.icon-delete-1 .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-delete .path1:before {
  content: "\e92c";
  color: rgb(221, 92, 22);
}
.icon-delete .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-1000003978 .path1:before {
  content: "\e937";
  color: rgb(255, 255, 255);
}
.icon-Group-1000003978 .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(221, 92, 22);
}
.icon-Group-1000003978 .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: none;
}
.icon-calender:before {
  content: "\e930";
  color: #dd5c16;
}
.icon-upload-files-1:before {
  content: "\e92b";
  color: #a7a7a7;
}
.icon-upload-files:before {
  content: "\e92a";
  color: #dd5c16;
}
.icon-work:before {
  content: "\e92e";
  color: #aeaeae;
}
.icon-company:before {
  content: "\e929";
  color: #aeaeae;
}
.icon-hide:before {
  content: "\e927";
  color: #dd5c16;
}
.icon-Vector-2:before {
  content: "\e91f";
}
.icon-Untitled:before {
  content: "\e924";
  color: #f5f5f5;
}
.icon-Group:before {
  content: "\e923";
}
.icon-Vector-59:before {
  content: "\e966";
}
.icon-arrow-2:before {
  content: "\e926";
}
.icon-search-1:before {
  content: "\e922";
  color: #fff;
}
.icon-Vector-91:before {
  content: "\e903";
}
.icon-Polygon-1:before {
  content: "\e920";
  color: #dd5c16;
}
.icon-search:before {
  content: "\e921";
  color: #dd5c16;
}
.icon-arrow-1:before {
  content: "\e916";
  color: #dd5c16;
}
.icon-arrow:before {
  content: "\e917";
  color: #fff;
}
.icon-Vector-231:before {
  content: "\e92d";
}
.icon-warning:before {
  content: "\e915";
  color: #c3c3c3;
}
.icon-world .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.icon-world .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-world .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-logistics .path1:before {
  content: "\e907";
  color: rgb(255, 255, 255);
}
.icon-logistics .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-logistics .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-finance .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.icon-finance .path2:before {
  content: "\e90b";
  margin-left: -1.01953125em;
  color: rgb(0, 0, 0);
}
.icon-art .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-art .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-art .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-art .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-customer-service:before {
  content: "\e910";
}
.icon-fork-knife-on-a-plate .path1:before {
  content: "\e911";
  color: rgb(255, 255, 255);
}
.icon-fork-knife-on-a-plate .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-plane .path1:before {
  content: "\e913";
  color: rgb(255, 255, 255);
}
.icon-plane .path2:before {
  content: "\e914";
  margin-left: -1.01953125em;
  color: rgb(0, 0, 0);
}
.icon-plane .path3:before {
  content: "\e918";
  margin-left: -1.01953125em;
  color: rgb(0, 0, 0);
}
.icon-human-resources .path1:before {
  content: "\e919";
  color: rgb(255, 255, 255);
}
.icon-human-resources .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-human-resources .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-human-resources .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-human-resources .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-save:before {
  content: "\e91e";
  color: #797979;
}
.icon-Vector:before {
  content: "\e900";
  color: #929292;
}
.icon-sector:before {
  content: "\e901";
  color: #adadad;
}
.icon-investment:before {
  content: "\e901";
  color: #adadad;
}
.icon-economic:before {
  content: "\e901";
  color: #adadad;
}
.icon-building:before {
  content: "\e901";
  color: #adadad;
}
.icon-business:before {
  content: "\e901";
  color: #adadad;
}
.icon-property:before {
  content: "\e901";
  color: #adadad;
}
.icon-construction:before {
  content: "\e901";
  color: #adadad;
}
.icon-residential:before {
  content: "\e901";
  color: #adadad;
}
.icon-real-estate:before {
  content: "\e901";
  color: #adadad;
}
.icon-target:before {
  content: "\e04e";
}
.icon-eye:before {
  content: "\e9a1";
}
.icon-checkmark:before {
  content: "\e9a6";
}
.icon-x:before {
  content: "\e9a7";
}
.icon-trash-stroke:before {
  content: "\e9a2";
}
.icon-trash:before {
  content: "\e9a3";
}
.icon-media-pause-outline:before {
  content: "\e9a4";
}
