@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?azg1zk');
  src:  url('fonts/icomoon.eot?azg1zk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?azg1zk') format('truetype'),
    url('fonts/icomoon.woff?azg1zk') format('woff'),
    url('fonts/icomoon.svg?azg1zk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-2:before {
  content: "\e903";
}
.icon-search-1:before {
  content: "\e922";
  color: #c3c3c3;
}
.icon-Vector-91:before {
  content: "\e902";
}
.icon-Polygon-1:before {
  content: "\e920";
  color: #dd5c16;
}
.icon-search:before {
  content: "\e921";
  color: #dd5c16;
}
.icon-arrow-1:before {
  content: "\e916";
  color: #dd5c16;
}
.icon-arrow:before {
  content: "\e917";
  color: #fff;
}
.icon-warning:before {
  content: "\e915";
  color: #c3c3c3;
}
.icon-world .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.icon-world .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-world .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-logistics .path1:before {
  content: "\e907";
  color: rgb(255, 255, 255);
}
.icon-logistics .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-logistics .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-finance .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.icon-finance .path2:before {
  content: "\e90b";
  margin-left: -1.01953125em;
  color: rgb(0, 0, 0);
}
.icon-art .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-art .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-art .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-art .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-customer-service:before {
  content: "\e910";
}
.icon-fork-knife-on-a-plate .path1:before {
  content: "\e911";
  color: rgb(255, 255, 255);
}
.icon-fork-knife-on-a-plate .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-plane .path1:before {
  content: "\e913";
  color: rgb(255, 255, 255);
}
.icon-plane .path2:before {
  content: "\e914";
  margin-left: -1.01953125em;
  color: rgb(0, 0, 0);
}
.icon-plane .path3:before {
  content: "\e918";
  margin-left: -1.01953125em;
  color: rgb(0, 0, 0);
}
.icon-human-resources .path1:before {
  content: "\e919";
  color: rgb(255, 255, 255);
}
.icon-human-resources .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-human-resources .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-human-resources .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-human-resources .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-save:before {
  content: "\e91e";
  color: #797979;
}
.icon-Vector1:before {
  content: "\e91f";
  color: #929292;
}
.icon-Vector:before {
  content: "\e900";
  color: #929292;
}
.icon-sector:before {
  content: "\e901";
  color: #adadad;
}
.icon-investment:before {
  content: "\e901";
  color: #adadad;
}
.icon-economic:before {
  content: "\e901";
  color: #adadad;
}
.icon-building:before {
  content: "\e901";
  color: #adadad;
}
.icon-business:before {
  content: "\e901";
  color: #adadad;
}
.icon-property:before {
  content: "\e901";
  color: #adadad;
}
.icon-construction:before {
  content: "\e901";
  color: #adadad;
}
.icon-residential:before {
  content: "\e901";
  color: #adadad;
}
.icon-real-estate:before {
  content: "\e901";
  color: #adadad;
}
