.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.en .news-slider {
  transform: scaleX(-1);
}

.en .news-slider img {
  transform: scaleX(-1);
}

.ar .news-slider {
  transform: scaleX(1);
}

.ar .news-slider img {
  transform: scaleX(1);
}


